.wrapped {
    display: flex;
    justify-content: space-between;
}
.wrapperUserInfo {
    width: 100%
}
.wrapperCard {
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.title {
    padding: 25px 0 0 25px;
    font-size: 20px;
    font-weight: bold;
    width: 100%;
}
.subTitle {
    font-weight: bold;
}
.dataRecord {
    line-height: 21px;
    margin-left: 5px;
}
.cardRow {
    display: flex;
    align-items: center;
}
.buttonsWrapper {
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}